<!-- <style>
  .search-btn{
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
  }

  .search-btn:hover{
    background-color: #fe424d;
    color: white;
  }

  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }

  .search-input{
    border-radius: 25px;
    width: 300px;
    padding: 0.5rem 3rem 0.5rem 6rem;
  

  }
</style> -->
<!-- <nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
      <button 
       class="navbar-toggler"
       type="button" 
       data-bs-toggle="collapse"
       data-bs-target="#navbarNavAltMarkup"
      >
      
       <span class="navbar-toggler-icon"></span>

      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav nav-links">
          <a class="nav-link nav-item" href="/">Home</a>
          <a class="nav-link nav-item" href="/listings">Explore</a>
          <a class="nav-link nav-item" href="/listings/new">Add Your Place</a>
        </div>

        <div class="navbar-nav search ms-auto">
          <div class="search-container">
            <form id="search-form" action="/listings/search" method="GET">
              <div class="input-group">
                <input 
                  type="text" 
                  name="q" 
                  placeholder="Search destinations, hotels, experiences..." 
                  class="form-control search-input"
                  id="search-input"
                >
                <button class="btn search-btn" type="submit">
                  <i class="fas fa-search"></i> Search
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="navbar-nav ms-auto auth-links">
          <% if (!currUser) { %>
            
                <a class="nav-link signup-link"  href="/signup"><b>Signup</b></a>
                <a class="nav-link login-link" href="/login"><b>Login</b></a>
         <% } %>
         <% if (currUser) { %>
          <a class="nav-link login-link" href="/logout">Logout</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav> -->


<header>
  <nav class="navbar">
    <div class="logo">
      <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
    </div>

    <div class="nav-links">
      <a href="/" class="nav-item">Home</a>
      <a href="/listings" class="nav-item">Explore</a>
      <a href="/listings/new" class="nav-item">Add Your Place</a>
    </div>
    <!-- 
        <div class="search-container">
            <form id="search-form" action="/listings/search" method="GET">
                <input type="text"  class="search-input" name="q" placeholder="Search destinations, hotels, experiences...">
                <button class="search-btn" type="submit">
                    <i class="fas fa-search"></i> Search
                </button>
            </form>
        </div> -->


    <div class="search-container">
      <form id="search-form" action="/listings/search" method="GET">
        <input type="text" name="q" placeholder="Search destinations, hotels, experiences...">
        <button class="search-btn" type="submit">
          <i class="fas fa-search"></i> Search
        </button>
      </form>

    </div>

    <div class="auth-links">
      <% if (!currUser) { %>
        <a href="/signup" class="signup-link"><b>Signup</b></a>
        <a href="/login" class="login-link"><b>Login</b></a>
        <% } else { %>
          <a href="/logout" class="logout-link"><b>Logout</b></a>
          <% } %>
    </div>
  </nav>
</header>